html, body {
    background: hsl(50, 75%, 50%);
    font-family: sans-serif;
    font-size: 30px;
}

@media only screen and (max-width: 760px) {
    html, body {
        background-color: red;
        color: brown;
    }
}

section {
    font-size: 0.5rem;
    margin: 3rem 1rem;

}

article {
    background-color: rgba(0, 216, 255, 0.5);
    border: 1em dashed black;
    border-radius: 25px;
    max-height: auto;
    padding: 15px 2em 30px 3em;
    margin: 1em;
    /*font-size: 0.5em;*/
}

p {
    color: gold;
    font-size: 2em;
}

.syntaxArticle {
    position: relative;
    /*top: 100px;*/
    left: 50px;
    /*z-index: -1;*/
}

.syntaxArticle p {
    color: black;
}



.classSelect {
    color: rgb(255, 0, 0);
}

.image {
    max-width: 250px;
    height: auto;
}

#starWars {
    position: absolute;
    top: 5px;
    right: 10px;
}

#idSelect {
    color: blue;
}


.css-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr;
}

.grid-item {
    border: 1px solid black;
    padding: 5px;
}

.donuts {
    display: flex;
    flex-direction: column;
}

.bagels {
    /* Flex properties */
    display: flex;
    display: -webkit-flex;
    /* flex-direction establishes the main axis of the container */
    /*flex-direction: row;*/
    /* flex-wrap causes items to move to the next line, if there is no space at the end of the container */
    /*flex-wrap: wrap;*/
    flex-flow: column;

    /*justify-content determines how content is positioned on main axis*/
    /*justify-content: flex-start;*/
    /* determines how content is positioned on the cross axis*/
    align-items: flex-start;
    /* gap, row-gap, column-gap */
    gap: 5px;
    /* Other style */
    background-color: gray;
    }

.flex-item {
    /* flex styles */

    flex: 0 1;

    /* other styles */
    padding: 5px;
    margin: 1em;
    background-color: blue;
    border: 2px solid white;
    border-radius: 5px;
}

.flex-item:nth-child(5) {
    background-color: red;
    align-self: flex-end;
}






