.my-button {
    background: red;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 150px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.monster-cell {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    text-align: center;

    font-family: sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    background-color: green;
}